@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    }
    
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}
  
.fade-in {
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpLeft {
    from {
        opacity: 0;
        transform: translate(10px, 10px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(10px);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes fadeOutDownRight {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }

    to {
        opacity: 0;
        transform: translate(10px, 10px);
    }
}

.chat-switch-out {
    animation: fadeOutUp 0.2s ease forwards;
}

.chat-switch-in {
    animation: fadeInDown 0.2s ease forwards;
}