.change-password-dialog .cpd-container {
    padding: 16px;

    .cpd-titlebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;
        gap: 10px;

        .cpd-title {
            font-size: 20px;
        }
    }

    .cpd-content form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .cpd-logout-all {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .cpd-actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
}