.cpdContainer {
    padding: 16px;

    .cpdTitlebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;
        gap: 10px;

        .cpdTitle {
            font-size: 20px;
        }
    }

    .cpdContent form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .cpdLogoutAll {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .cpdActions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
}