@use "../../../css/colors" as *;
@use "../../../css/material" as *;

:global(.quote).contextualContent > :global(.quote-inner) {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .replyUsername {
        font-weight: 600;
        color: $color-dark-on-surface;
        font-size: 0.85rem;
    }

    .replyText {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}